<div style="width: 100%"><h1>Welcome, {{userDetails.name || 'Guest'}}</h1>
    <div>
        <div class="list">
            <ng-container *ngFor="let task of myRequest" >
                <p style="cursor: pointer">
                        <span style="margin-bottom: 10px;display: inline-block">
                            {{task.id}}
                        </span>
                    <br />
                    {{task.customer_data.entity.name}}
                    {{task.document_type}}
                    {{task.updation_date | date: 'dd-MMM-yyyy'}}
                </p>
                <button (click)="showRequestDetails(task.id)">Details</button>
                <mat-divider></mat-divider>
            </ng-container>
        </div>
    </div>
    <p [routerLink]="'/login'" class="logoutText">Logout</p>
</div>
