/* You can add global material styles to this file, and also import other style files */
@import "variables"; // nad-input nad-selectbox bar styles

.nad-inputbox-container,
.nad-selectbox-container {
  .mat-focused .mat-form-field-placeholder {
    color: $nad-color-text-bold-dark!important;
  }

  .mat-focused .mat-form-field-label {
    color: $nad-color-text-bold-dark!important;
  }

  .mat-form-field-ripple {
    background-color: $nad-color-text-bold-dark!important;
  }

  .mat-form-field-invalid .mat-form-field-ripple {
    background-color: $nad-color-primary-dark!important;
  }

  .mat-form-field-invalid .mat-form-field-placeholder {
    color: $nad-color-primary-dark!important;
  }

  .mat-form-field-invalid .mat-form-field-label {
    color: $nad-color-primary-dark!important;
  }

  .mat-focused .mat-form-field-required-marker {
    color: $nad-color-text-bold-dark!important;
  }

  .mat-form-field-invalid .mat-form-field-required-marker {
    color: $nad-color-primary-dark!important;
  }

  .mat-form-field-invalid .mat-form-field-placeholder .mat-form-field-required-marker {
    color: $nad-color-primary-dark!important;
  }

  .mat-form-field.mat-focused .mat-select-arrow {
    color: $nad-color-text-bold-dark!important;
  }

  .mat-form-field-invalid.mat-focused .mat-select-arrow {
    color: $nad-color-primary-dark!important;
  }
  // added to change the font family and color
  input, textarea {
    font-family: RobotoLight, sans-serif;
  }

  .mat-select-value-text {
    font-family: RobotoLight, sans-serif;
  }

  .mat-input-placeholder {
    font-family: RobotoLight, sans-serif;
    color: $nad-color-text-normal-dark;
  }

  .mat-input-underline {
    background-color: $nad-color-text-normal-dark;
  }
}
// nad-data table bar styles

.nad-component-example-block {
  display: block;
  margin: 20px 0;
}

// nad-progress bar styles

.nad-progress-bar-container {
  .mat-progress-bar {
    .mat-progress-bar-buffer {
      background-color: $nad-progress-bar-color!important;
    }
  }

  .mat-progress-bar.nad-color-yellow {
    .mat-progress-bar-fill::after {
      background-color: $nad-color-yellow-light;
    }
  }

  .mat-progress-bar.nad-color-red {
    .mat-progress-bar-fill::after {
      background-color: $nad-color-primary-dark;
    }
  }

  .mat-progress-bar.nad-color-green {
    .mat-progress-bar-fill::after {
      background-color: $nad-color-accent-dark;
    }
  }
}
// nad-multi select styles

.mat-pseudo-checkbox-checked::after {
  top: 6px!important;
  left: 3px!important;
  width: 15px!important;
  height: 6px!important;
}
//nad-notification bar styles

.mat-snack-bar-container {
  .mat-simple-snackbar {
    .mat-simple-snackbar-action {
      color: #fff;
      font-weight: 700;
    }
    font-weight: 600;
  }
  margin: 0;
}

.nad-notify-success {
  background-color: $nad-color-accent-dark;
}

.nad-notify-error {
  background-color: $nad-color-primary-dark;
}
//Over-write css for custom collapse table

.mat-expansion-panel-body {
  padding: 0 0 16px!important;
  margin: 0 0 16px!important;
}

.mat-expansion-panel-header {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0;
}

.mat-expansion-indicator::after {
  border-style: solid;
  border-width: 0 2px 2px 0;
  content: '';
  display: none!important;
  padding: 3px;
  transform: rotate(45deg);
  vertical-align: middle;
}
//checkbox margin bottom correction

.mat-checkbox-layout {
  margin-bottom: 0 !important;
}
// notification side nav styles

//commentedd by dhiraj
// .mat-sidenav {
//   width: 380px;
// }
// button styles

.mat-raised-button:not([class*=mat-elevation-z]) {
  box-shadow: none!important;
}

.mat-tab-label.mat-ripple {
  font-size: 22px;
  color: $nad-color-text-bold-light;
  font-family: RobotoLight, sans-serif;

  &.mat-tab-label-active {
    color: $nad-color-text-bold-dark;
    font-family: RobotoBold, sans-serif;
  }
}

.mat-tab-group.mat-primary .mat-tab-label:focus:focus {
  background-color: transparent;
}

.mat-tab-group.mat-primary .mat-tab-label.mat-tab-label-active {
  opacity: 1;
}
//mat-expansion panel

#learingPanel {
  .mat-expansion-panel:not([class*=mat-elevation-z]) {
    box-shadow: none;
  }

  .mat-expansion-panel-body {
    border-radius: 10px;
    margin: 0!important;
    padding: 0!important;
    overflow: hidden;
  }
}
// mat expansion panel

#nad-collapsible-panel {
  .mat-expansion-panel:not([class*=mat-elevation-z]) {
    box-shadow: none;
  }

  .mat-expansion-panel-body {
    border-radius: 10px;
    margin: 0!important;
    padding: 0!important;
  }

  //.dataCardContainer {
    .mat-expansion-panel {
      border-radius: 10px;

      .mat-expansion-panel-header {
        border-radius: 10px;
      }
    }
  //}

  .mat-expansion-panel-header {
    height: auto!important;

    &.mat-expanded {
      .nad-toggle {
        -webkit-transform: rotate(180deg);
        -moz-transform: rotate(180deg);
        -ms-transform: rotate(180deg);
        -o-transform: rotate(180deg);
        transform: rotate(180deg);
      }
    }

    .nad-toggle {
      -webkit-transform: rotate(0deg);
      -moz-transform: rotate(0deg);
      -ms-transform: rotate(0deg);
      -o-transform: rotate(0deg);
      transform: rotate(0deg);
      transition: 0.5s ease;
    }
  }

  .mat-expansion-panel:not(.mat-expanded) .mat-expansion-panel-header:not([aria-disabled='true']):hover {
    background: none;
  }
}
//hiding the calendar icon and the extra padding of the component in the external pop up component

.datePicker {
  .md2-datepicker-button {
    display: none !important;
  }

  .md2-datepicker-trigger {
    padding: 0 !important;
  }
}
// mat-tab-header backgroud color changed by vedant

.mat-tab-header {
  background-color: #fff;
}
// padding 0 done in the pop-up by Anitha

.mat-dialog-container {
  padding: 0 !important;
}
// inflight tab container

#inflightWrapper {
  .mat-tab-header {
    height: 100px;
    padding: 0 35px;

    .mat-tab-labels {
      height: 100%;

      .mat-tab-label {
        height: 100%;
      }
    }
  }

  .mat-tab-body-wrapper {
    //padding: 0 35px;
    //margin: 35px 0;
  }

  .mat-tab-label-active {
    .sprintName {
      font-family: RobotoBold;
      color: $nad-color-primary-dark;
    }

    .sprintDate {
      color: $nad-color-accent-dark;
    }
  }
}
// search box full width

#searchBox {
  .mat-input-placeholder, .mat-form-field-label {
    display: none;
  }

  .mat-input-infix, .mat-input-element {
    padding-left: 25px;
    padding-right: 25px;
  }
}
// padding 0 done for dropdown by Ravi

.mat-form-field-infix {
  border-top: none;
}
// checkbox color changed by  Neel

.mat-checkbox-frame,
.mat-radio-outer-circle {
  border-color: #b4b4b4;
}
//matMenu changed by rhythm

 .mat-menu-panel {
   min-width: 200px !important;
   max-width: 420px !important;
 }
//done by rhythm

.leaderBoardBorderRadius {
  .mat-tab-header {
    border-radius: 8px 8px 0 0;
  }
}
//done by rhythm for apw Calendar Show

.datePickerCalendar {
  .md2-datepicker-input {
    display: none !important;
  }
}

.expPanel {
  .mat-expansion-panel {
    min-height: 100px;
  }

  .mat-expansion-panel.mat-expansion-panel-header {
    min-height: 100px;
  }
}
//done by rhythm for apw raised hands

.CustomMatForm {
  .mat-form-field {
    width: 220px;
  }
}
//by rhythm

.CustomMatRight {
  .mat-form-field-wrapper {
    margin-right: 22px;
  }
}
//by rhythm

.MaterialButtonGame {
  .mat-icon-button {
    width: 110px;
  }
}
//done by dhiraj

.caasEvaluationCtiteria {
  .mat-checkbox-label {
    font-family: RobotoLight;
  }

  .caasCheckboxSelected {
    .mat-checkbox-label {
      font-family: RobotoBold !important;
    }
  }
}
//popup class changed by vedant

.mat-dialog-container {}
// changed by vedant

#releaseDatePicker {
  .md2-datepicker-button {
    top: 0!important;
  }

  .md2-datepicker-trigger {
    padding: 0 0 16px 46px!important;
  }
}

#dicdScheduleSelected {
  .md2-datepicker-input {
    width: 390px;
  }
}
// added by keerthana

.formDate {
  .md2-datepicker-input {
    width: 423px !important;
  }
}

// added by anitha
//.formDatePartner {
//  .md2-datepicker-input {
//    width: 367px !important;
//  }
  .md2-datepicker-trigger {
    display: block !important;
    padding: 0px 0 0px 42px;
    white-space: nowrap;
}
  .md2-datepicker-button{
    top: 0px;
  }
  .md2-datepicker {
    padding-bottom: 10px;
  }
//}

.uploadDoc {
  .nad-file-upload-container {
    margin-top: -35px !important;
    margin-bottom: 35px !important;
  }
}

//added by rhythm for DU Plan

.startDateDUPlan {
  .nad-inputbox-container {
    margin-top: 20%;
  }
}

.mepsSearchBox {
  .nad-inputbox-container input,
  .nad-selectbox-container input {
    width: calc(100% - 55px);
  }
}


// changes made by rhythm in material expansion panel for sku-mapping

.expPanel{

.mat-expansion-panel:not([class*=mat-elevation-z]){
  box-shadow: none;
}

.mat-expansion-panel{
  height: auto !important;
  min-height: 0;
}

.mat-expansion-panel-header{
  padding: 0px;
}

.mat-expansion-panel{
border-radius: 8px;
}

.mat-expansion-panel-body{
  padding: 0px !important;
}


}


//bdd microservice tab structure
#microserviceWrapper {
  .mat-tab-body-content {
    overflow: hidden!important;
  }
}

#nadDatePicker {
  .md2-datepicker-trigger
  {
    padding: 18px 0 4px 8px;
  }

  .md2-datepicker-button
  {
    z-index: 12;

    opacity: 0;
    width: calc(100% + 21px) !important;
    left: -21px !important;
  }

  .md2-datepicker-arrow
  {
    display: none;
  }
}

//done by dhiraj for APW Eligibility criteria
#custom-chip {
  .mat-chip:not(.mat-basic-chip) {
    background-color: #f1f1f1;
    color: #787878;
    display: inline-block;
    padding: 2px 10px;
    border-radius: 10px;
    margin-right: 15px;
    font-family: RobotoRegular, sans-serif;
    font-size: 14px;
  }
}

// UaaS custom material styles
// Material Fixed tabs with back button.
.margin-top-fifty{
  margin-top: 50px;
 }
 .tab-back-btn{
  position: fixed;
  z-index: 111;
  margin: 10px 0;
 }
 .back-btn-tabs{
  .mat-tab-header{
    position: fixed;
    z-index: 11;
    width: 100%;
    padding: 0 42px;
    border-bottom-width: 0px;
    box-shadow: 0px 1px 2px #ccc;
  }
 }
 //for second mat-radio-button gap in mat-radio-group.
 .custom-second-radio-gap{
  width: 100%;
  mat-radio-group{
    mat-radio-button:first-child{
      width: 32%;
    }
  }
 }
 //custom mat button on the add courses page.
 .custom-add-button{
  margin-left: auto;
  button{
    font-weight: normal !important;
    min-width: 80px !important;
    height: 40px !important;
    margin-left: auto;
  }//Overriding the styles of mat button for add button on courses list.
 }
//custom material multiselect with chipset style.
.custom-mat-chip-list{
  width: 88%;
  .mat-chip-list-wrapper{
    width: 100%; //Making chipset side by side.
    .mat-chip{
      margin: 5px 0 0 8px !important; //Maintain some gap between two chipset rows.
      mat-icon img{
        margin: -3px 0 0 2px;
        width: 13px;
      }//For cancel icon alignments.
    }
  .mat-select-placeholder{ color: #cfcfcf; }
  }
}
.custom-checkbox{
  .mat-pseudo-checkbox-checked::after{
    top: 3px !important;
    left: 1px !important;
  }
}
// Custom datepicker styles added by vinay
.custom-datepicker-border{
  .mat-form-field-wrapper{ margin-top: 12px; }
  .mat-form-field-underline{
    background-image: none !important;
    background-color: rgba(0, 0, 0, 0.42) !important;
  }
}
//Styles for custom text-area appearing in the add-partner(UaaS) and so on.
.partner-desc-textarea.mat-focused{
 .mat-input-placeholder { color: #1e2831; }
 .mat-form-field-ripple{ background-color: #1e2831; }
}

#dicd-description {
  .mat-form-field-required-marker {
    color: $nad-color-text-normal-dark;
  }
}

#inflight-wrapper {
  .mat-tab-label {
    height: 90px;
  }
}

// Changed by Shadaab Mat-tab for DTaS

#custom-mat-tab{

  .mat-tab-label-container{
    padding: 10px;
  }

  .mat-tab-labels {
    background-color: #f1f1f1;
    border-radius: 50px;
    padding: 5px;
}

.mat-tab-label.mat-ripple.mat-tab-label-active {
  background-color: white;
  border-radius: 50px;
}

.mat-tab-group.mat-primary .mat-ink-bar, .mat-tab-nav-bar.mat-primary .mat-ink-bar {
  background-color: #ffffff;
}


}

#projectDicdSummaryWrapper{
  .mat-tab-body-wrapper {
    height: 100%;
  }
}

 //custom id added by Ravi on 11/05/2018 at 1:33
#matink{

  .mat-tab-label{
    width: 100%;
    .mat-tab {
      width: 50%;
    }
  }
 }
#project-info {
  .mat-tab-label {
    min-width: 100px;
  }
}

#custom-mat-tab-header {
  .mat-tab-label-container {
    height: 45px;
  }
  .mat-tab-group {
    margin-top: 10px;
  }
  .mat-tab-label {
    min-width: 87px;
   // height: 40 !important;
    padding-left: 27px !important
  }
  .mat-tab-header {
    background-color: #f1f1f1;
    margin: 0px 20px 0 20px;
    border-radius: 20px;
    border-bottom: none;
   // width: 445px;
  }
  .mat-ink-bar {
    visibility: hidden !important;
  }
  .mat-tab-label.mat-ripple {
    font-size: 16px;
    //font-family: none !important;
  }
  .mat-tab-label.mat-ripple.mat-tab-label-active {
    background-color: white;
    border-radius: 20px;
    height: 35px;
    margin: 5px 0 0 5px;
    font-family: RobotoRegular, sans-serif;
  }
  .mat-ripple-element {
    display: none;
  }
}
#tab-buttom-line {
  .mat-tab-header {
    border-bottom: none;

  }
}

// done by dhiraj
#portfolio-description {
  .mat-form-field-required-marker {
    color: red;

  }
}

#dicdInflightInputBox{

  .mat-input-element {
    text-align: center;
  }

  // padding-left: 20px;
  .mat-form-field-infix{
width: 26px;
//padding-left: 8px;
// padding: 0px;
  }

  .nad-inputbox-container .mat-input-underline, .nad-selectbox-container .mat-input-underline{
    // background-color: white;
    display: none;
  }
  .mat-form-field-wrapper{
    padding: 0;
  }
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    -moz-appearance: none;
    // appearance: none;
    margin: 0;
}
}

#StatsSearchBox {

}

// done by rhythm
#custom-mat-tab-rhythm{
  height: 100%;
  .mat-tab-body.mat-tab-body-active{
    // overflow: none;
    overflow: hidden;
  }
  .mat-tab-group{
    height: 100%;
    width: calc(100% - 70px);
  }
  .mat-tab-header{
    overflow: hidden;
  }
  .mat-tab-label-container{
    padding: 10px;
  }
  .mat-tab-labels {
    background-color: #f1f1f1;
    border-radius: 50px;
    padding: 5px;
}
.mat-tab-label.mat-ripple.mat-tab-label-active {
  background-color: white;
  border-radius: 50px;
  width: 50%;
}
.mat-tab-group.mat-primary .mat-ink-bar, .mat-tab-nav-bar.mat-primary .mat-ink-bar {
  background-color: transparent;
}
.mat-tab-label.mat-ripple{
  width: 50%;
}
// .mat-tab-body-content{
//   overflow: hidden;
// }
}
#apwExpPanel{
  .mat-expansion-panel:not([class*=mat-elevation-z]){
  box-shadow: none;
}
.mat-expansion-panel{
  height: auto !important;
  min-height: 0;
}
.mat-expansion-panel-header{
  padding: 0px;
  border-bottom: 1px solid $nad-table-header-text-color;
}
.mat-expansion-panel{
border-radius: 8px;
}
.mat-expansion-panel-body{
  padding: 0px !important;
}
}
#nad-collapsible-panel-apw {
  .mat-expansion-panel:not([class*=mat-elevation-z]) {
    box-shadow: none;
  }
  .mat-expansion-panel-body {
    border-radius: 10px;
    margin: 0!important;
    padding: 0!important;
  }
  //.dataCardContainer {
    .mat-expansion-panel {
      border-radius: 10px;
      .mat-expansion-panel-header {
        border-radius: 10px;
        height: 60px !important;
      }
    }
  //}
  .mat-expansion-panel-header {
    // height: auto!important;
    &.mat-expanded {
      .nad-toggle {
        -webkit-transform: rotate(180deg);
        -moz-transform: rotate(180deg);
        -ms-transform: rotate(180deg);
        -o-transform: rotate(180deg);
        transform: rotate(180deg);
      }
    }
    .nad-toggle {
      -webkit-transform: rotate(0deg);
      -moz-transform: rotate(0deg);
      -ms-transform: rotate(0deg);
      -o-transform: rotate(0deg);
      transform: rotate(0deg);
      transition: 0.5s ease;
    }
  }
  .mat-expansion-panel:not(.mat-expanded) .mat-expansion-panel-header:not([aria-disabled='true']):hover {
    background: none;
  }
}
#apw-mat-tab{
  .mat-tab-body-content{
    //overflow: hidden!important;
    height: calc(100% - 28px);
  }
  .mat-tab-body-wrapper{
    height: 100%;
  }
}

#overflowNormal {
  .mat-tab-body-content{
    overflow-y: auto!important;
  }
 }

 // done by dhiraj

 #gant-chart-selectbox {
   .nad-selectbox-container {
     margin-top: 25px;
   }
 }
  // added by keerthana for customization of DiCD sprint planning
#dicd-expansion-panel {
  .mat-expansion-panel-body{
    margin: 0px !important;
  }
  .mat-expansion-indicator::after {
    display: inline-block !important;
    height: 15px;
    width: 15px;
    vertical-align: top;
}
  .mat-expansion-panel:not([class*=mat-elevation-z]) {
    box-shadow: none;
}
  .mat-expansion-panel-header:not([aria-disabled=true]):hover {
    background: none !important;
}
    .mat-expansion-panel-content:not(.mat-expanded) {
    height: 0px !important;
    visibility: hidden !important;
}
  .mat-expansion-panel-header:not(.mat-expanded)  {
    height: 150px;
}
}
#dicd-deployment-expansion-panel {
  .mat-expansion-panel-body{
    margin: 0px !important;
    padding-bottom: 0px !important;
  }
  .mat-expansion-indicator::after {
    display: inline-block !important;
    height: 15px;
    width: 15px;
    vertical-align: top;
}
  .mat-expansion-panel:not([class*=mat-elevation-z]) {
    box-shadow: none;
}
  .mat-expansion-panel-header:not([aria-disabled=true]):hover {
    background: none !important;
}
    .mat-expansion-panel-content:not(.mat-expanded) {
    height: 0px !important;
    visibility: hidden !important;
}
  .mat-expansion-panel-header:not(.mat-expanded)  {
    height: 150px;
}

.mat-content {
  height: 100%;
}
.mat-form-field-appearance-legacy .mat-form-field-underline{
  height: 0px;
}
}


#add-subtask {
 .mat-focused .mat-form-field-placeholder {
    color: $nad-color-text-bold-dark!important;
  }

  .mat-form-field-ripple {
    background-color: $nad-color-text-bold-dark!important;
  }

  .mat-form-field-invalid .mat-form-field-ripple {
    background-color: $nad-color-primary-dark!important;
  }

  .mat-form-field-invalid .mat-form-field-placeholder {
    color: $nad-color-primary-dark!important;
  }

  .mat-focused .mat-form-field-required-marker {
    color: $nad-color-text-bold-dark!important;
  }

  .mat-form-field-invalid .mat-form-field-placeholder .mat-form-field-required-marker {
    color: $nad-color-primary-dark!important;
  }

  .mat-form-field.mat-focused .mat-select-arrow {
    color: $nad-color-text-bold-dark!important;
  }

  .mat-form-field-invalid.mat-focused .mat-select-arrow {
    color: $nad-color-primary-dark!important;
  }
  .mat-input-placeholder {
    font-family: RobotoLight, sans-serif;
    color: $nad-color-text-normal-dark;
  }
}
#board-panel {
  .mat-expansion-panel-body {
    margin: 0px !important;
    padding: 0px!important;
  }
    .mat-expansion-indicator::after {
    display: inline-block !important;
    height: 15px;
    width: 15px;
    vertical-align: top;
}
    .mat-expansion-panel:not([class*=mat-elevation-z]) {
    box-shadow: none;
}
  .mat-expansion-panel-content:not(.mat-expanded) {
    height: 0px !important;
    visibility: hidden !important;
}
  .mat-expansion-panel-header:not(.mat-expanded)  {
    height: 75px;
}
    .mat-expansion-panel-header:not([aria-disabled=true]):hover {
    background: none !important;
}
      .mat-expansion-panel-content:not(.mat-expanded) {
    height: 0px !important;
    visibility: hidden !important;
}
  .mat-expansion-panel-header:not(.mat-expanded)  {
    height: 75px;
}
}

 // done by rhythm
//  #commentContainer{
// .nad-inputbox-container .mat-input-underline, .nad-selectbox-container .mat-input-underline{
//   background-color: transparent;
// }
// .nad-inputbox-container .mat-form-field-ripple, .nad-selectbox-container .mat-form-field-ripple{
//   background-color: transparent !important;
// }
// .mat-form-field-wrapper{
//   height: 30vh;
//   padding: 0px;
// }
//  }

//   #commentContainerProjectOnBoard{
// .nad-inputbox-container .mat-input-underline, .nad-selectbox-container .mat-input-underline{
//   background-color: transparent;
// }
// .nad-inputbox-container .mat-form-field-ripple, .nad-selectbox-container .mat-form-field-ripple{
//   background-color: transparent !important;
// }
// .mat-form-field-wrapper{
//   height: 26vh;
//   padding: 0px;
// }
//  }

 #apwOnBoardButton{
   button.active.fill[_ngcontent-c25], button.accent.fill[_ngcontent-c25]{
     background: transparent;
   }
    button.approve.fill[_ngcontent-c25], button.primary.fill[_ngcontent-c25]{
      background: transparent;
    }
 }

 #historyPipeline {
   .mat-tab-body-wrapper {
     height: 100%;
   }
 }

  #summaryActionTab {
    .mat-tab-header{
      padding: 0 50px;
    }
    .mat-tab-body-wrapper {
    height: 100%;
    }
  }

// mat-button styles (angular 6)
.mat-raised-button:focus {
  outline: none!important;
}

// mat-calender styles (angular 6)
.mat-calendar-body-selected {
  color: #fff;
}

.mat-datepicker-toggle:focus {
  outline: none;
  .mat-icon-button {
    outline: none;
  }
}

.mat-calendar-body-today:not(.mat-calendar-body-selected) {
  border-color: rgba(255, 99, 99, 0.6);
}

.mat-calendar-body-cell:not(.mat-calendar-body-disabled):hover > .mat-calendar-body-cell-content:not(.mat-calendar-body-selected),
.cdk-keyboard-focused .mat-calendar-body-active > .mat-calendar-body-cell-content:not(.mat-calendar-body-selected),
.cdk-program-focused .mat-calendar-body-active > .mat-calendar-body-cell-content:not(.mat-calendar-body-selected) {
  background-color: rgba(255, 162, 162, 0.2);
}

.mat-calendar-table-header th, .mat-calendar-body-label, .mat-calendar-period-button {
  font-weight: 600;
  color: $nad-color-text-bold-light;
}

// mat-chips t angular 6 fix
.mat-standard-chip:focus {
  box-shadow: none!important;
}

#dicdInflightInputBox {
  .mat-form-field-underline {
    display: none;
  }
}
#eform {

  .mat-form-field-appearance-legacy .mat-form-field-wrapper {

    width: 250px !important;
  }
}
  #bugDashBoard {
    .mat-tab-header {
      padding: 0 0 !important;
    }
    .mat-tab-label {
      width: 33.33%;
    }
    .mat-tab-label.mat-ripple.mat-tab-label-active {
      color: #1e2831;
      font-family: RobotoBold, sans-serif;
      font-size: 16px;
    }
    .mat-tab-label.mat-ripple {
      font-size: 16px;
      color: #787878;
      font-family: RobotoLight, sans-serif;
    }
  }
  #featureDetails {
    .mat-tab-label {
      width: 50%;
    }
    .mat-tab-label.mat-ripple.mat-tab-label-active {
      color: #1e2831;
      font-family: RobotoBold, sans-serif;
      font-size: 18px;
    }
    .mat-tab-label.mat-ripple {
      font-size: 18px;
      color: #787878;
      font-family: RobotoLight, sans-serif;
    }
  }
  #statusMenu {
    .mat-menu-panel {
      width: 150px !important;
      border-radius: 9px !important;
    }
  }

  #dicd-sprint-planning {
    .mat-expansion-panel-body {
      padding: 0 !important;
    }
  }

