/* You can add global variables to this file, and also import other style files */

// ******* basic color variables ******* //
// --primary--
$nad-color-primary-dark: #fff;
$nad-color-primary-light: #fbd4cb;
// --accent--
$nad-color-accent-dark: #000000;
$nad-color-accent-light: #000000;

// --other colors--
$nad-color-yellow-light: #f8951d;
$nad-color-red-dark: #E51736;
$nad-color-light-gray: #EFEFEF;
$nad-progress-bar-color: #ebebec;

// -- table layout colors--
$nad-table-header-color: #f7f7f7;
$nad-table-cell-color: #f8f8f8;
$nad-table-header-text-color: #9faecb;

// --border colors--//
$nad-border-color-dark: #f0f0f0;
$nad-border-color-light: #f1f1f1;

// ******* text styles variables ******* //
// --application colors--
$nad-color-text-bold-dark: #1e2831;
$nad-color-text-bold-light: #787878;
$nad-color-text-normal-dark: #b4b4b4;
$nad-color-text-normal-light: #b4b4b4;
$nad-grey-background-color: #f1f1f1;


