<div style="width: 100vw;margin-bottom: 60px">
    <header class="myHeader">
        <h2 class="colorAccent pointer" (click)="goBack()"><i class="material-icons">keyboard_backspace</i> <span>Add Task</span></h2>
    </header>
    <section style="padding: 15px">
        <div class="marginbottom20">
        <mat-form-field class="full-width" color="accent">
            <mat-label>Clause </mat-label>
            <textarea matInput [(ngModel)]="taskData.clause"  placeholder="Ex. It makes me feel..."></textarea>
        </mat-form-field>
        <button mat-stroked-button color="accent" (click)="createContentControl()">Get Clause</button>
        </div>
        <div class="marginbottom20">

        <mat-form-field class="full-width" color="accent">
            <mat-label>Comment</mat-label>
            <textarea matInput [(ngModel)]="taskData.userComment"  placeholder="Ex. It makes me feel..."></textarea>
        </mat-form-field>
        </div>
        <section class="marginbottom20">
            <mat-form-field class="full-width" color="accent">
                <mat-label>Assign</mat-label>
                <mat-select [(ngModel)]="taskData.user_id" (change)="updateUserDept($event)">
                    <mat-option *ngFor="let user of myTeam" [value]="user.id">
                        {{user.user_name.replace(',',' ') + ' - ' + user.type + ' - ' + user.team}}
                    </mat-option>
                </mat-select>
            </mat-form-field>
        </section>
<!--        <section>-->
<!--            <button (click)="goBack()" mat-button color="accent">Cancel</button>-->
<!--            <button (click)="addTask()" mat-raised-button color="accent">Save</button>-->
<!--        </section>-->
    </section>
<!--    <p [routerLink]="'/login'" class="logoutText">Logout</p>-->
</div>
<section class="padding10 fixedSectionBottom">
    <button (click)="goBack()" mat-button color="accent">Cancel</button>
    <ng-container *ngIf ="isNewTask">
    <button  (click)="addTask()" mat-raised-button color="accent">Add Task</button>
    </ng-container>
    <ng-container *ngIf ="!isNewTask">

    <button (click)="addTask()" mat-raised-button color="accent">Update Task</button>
    </ng-container>
    <p class="marginTop20 logoutText" [routerLink]="'/login'">Logout</p>
</section>
