<div style="width: 100%;margin-bottom: 60px">
    <header class="myHeader">
        <h2 class="colorAccent pointer" (click)="goBack()"><i class="material-icons">keyboard_backspace</i> <span>{{this.requestID}}</span></h2>
    </header>
    <section class="searchWrapper">
        <div style="display: flex; flex: 100;">
            <section style="display: flex;flex: 80">
                <input placeholder="Search Tasks">
                <div class="searchIconWrapper">
                    <i class="material-icons searchButton">
                        search
                    </i>
                </div>
            </section>
            <section style="display: flex;flex: 10; align-items: center">
                <i class="material-icons colorAccent">
                    filter_list
                </i>
            </section>
        </div>
    </section>
    <section *ngIf="requestData.task.length">
        <mat-tab-group style="width: 100vw" color="accent">
            <mat-tab label="Tasks">

                <div>
                    <div>
                        <ng-container *ngFor="let task of requestData.task" >
                            <div class="myRequestData pointer" (click)="HighlightContentControlById(task.content_control)">
                                <div style="display: flex; justify-content: space-between;align-items: center">
                                    <p class="colorLightGrey textEllipsis" style="width: 50%">{{task.id}}</p>
                                    <div style="width: 40%;display: flex;justify-content: flex-end">
                                        <p class="requestStatus" >{{task.status}}</p>
                                    </div>
                                </div>
                                <p class="requestName">{{task.clause}}</p>
                                <div style="display: flex; justify-content: space-between;align-items: center">
                                    <p><span class="colorDarkGrey"> {{task.department}}</span> - <span class="colorLightGrey">{{task.creation_at | date: 'EE, dd-MMM-yyyy'}}</span></p>
                                    <!--                                    <i class="material-icons colorAccent text35" (click)="showRequestDetails(task.id)">arrow_right_alt</i>-->
                                </div>

                                <section class="taskComment marginTop20" *ngIf="task.comment">
                                    <ng-container *ngFor="let comment of task.comment">
                                        <p class="boldFont">{{(comment.length > 1)?'Comments':'Comment'}}</p>
                                        <div class="commentUserInfo">
                                            <div style="display: flex;align-items: center">
                                                <div class="userInitIcon">{{getInitial(comment.name)}}</div>
                                                <div style="display: flex;align-items: center">
                                                    <p class="text14 colorDarkGrey boldFont">{{comment.name}}</p>
                                                    <!--                                                    <p class="text12 colorLightGrey">{{comment.email}}</p>-->
                                                </div>
                                            </div>
                                            <p style="margin: 10px 0">{{comment.message}}</p>
                                            <p class="colorLightGrey text12">{{comment.date | date: 'EE, dd-MMM-yyyy'}}</p>
                                        </div>
                                    </ng-container>
                                </section>
                            </div>

                        </ng-container>
                    </div>
                </div>
            </mat-tab>
            <mat-tab label="Summary">
                <div class="list" ></div>
            </mat-tab>
            <mat-tab label="Notes">
                <div class="list" ></div>

            </mat-tab>
        </mat-tab-group>
    </section>
    <h1 class="list" *ngIf="!requestData.task.length">No task available</h1>
</div>
<section class="padding10 fixedSectionBottom">
    <button (click)="uploadDocuments()" mat-button color="accent">Upload Document</button>
    <button (click)="addTask()" mat-raised-button color="accent">Add task</button>
    <p class="marginTop20 logoutText" [routerLink]="'/login'">Logout</p>
</section>
